.existAt{
	color: purple;
	text-align: center;
	font-size: x-large;
	font-family: fantasy;
}
#body{
	width: 100%;
	
}
.press{
	background : url("../img/pressform.png");
	width : 100%;
}
.subject{
	color: purple;
}

.notpress{
	background : url("../img/notpressform.png");
	width : 100%;
}
.red_press{
	width: 100%;
}
.purple_press{
	width: 100%;
}
.yellow_press{
	width: 100%;
}
.green_press{
	width: 100%;
}
.red{
	width: 100%;
}
.purple{
	width: 100%;
	border: 1px solid blue;
}
.yellow{
	width: 100%;
}
.green{
	width: 100%;
}
@CHARSET "UTF-8";
#select-datepicker-form{
	margin : 10px 0px 0px;
	width : 100%;
	height : 40px;
}
#datepicker-div{
	width : 50%;
	margin : 0;
	padding : 0;
	float : right;
}
#select-choice-custom-div{
	width : 50%;
	margin : 0;
}
.ui-select > div{
	margin: 0;
}
#datepicker{
	width : 100%;
	text-align: center;
	margin: 0;
	border-radius : 0;
	color: purple;
}
#datepicker_left{
	width : 100%;
	text-align: center;
	margin: 0;
	border-radius : 0;
	color: purple;
}
#datepicker_right{
	width : 100%;
	text-align: center;
	margin: 0;
	border-radius : 0;
	color: purple;
}
#select-choice-custom{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	border-radius : 0;
}
.receiverInputBox {
    width: 100;
}
 #student-detail{
	background-color: rgb(246, 225, 255);
	width : 200px;
	align : center;
	padding: 0px;
	border-radius : 9px;
	top : 80px;
	left : 60px;
}
#student-detail-content{
	width: 200px;
	height: 340px;
}
#student-detail-content > span{
	font-size: 15px;
}
#student-name{
	margin: 0px;
}
#detail-dialog-close-div{
	width : 70px;
	margin : 0px 12px;
	padding : 0;
	float : right;	
}
#student-detail-choice{
	float : right;
	width : 95px;
	margin : 8px 0px 0px 0px;
	padding : 0;
}
#present-confirm{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	border-radius : 0;
}
#present-update{
	width: 95px;
	text-align: center;
	margin: 0 auto;
	border-radius : 0;
	font-size: 1pt;
}
#student-img > img	{
	height: 200px;
	width: 200px
}
ul{
	list-style: none;
}
#select-datepicker-form .ui-btn{
	height: 34px;
	border-radius : 0;
	width: 100%;
}
.ui-field-contain .ui-select{
	width: 100%;
}
#field{
	margin-top: 0;
}
.student-list-title{
	width : 100%;
	height : 100%;
	margin : 0;
}
.student-list-title div{
	height : 100%;
	text-align : center;
	line-height : 40px;
}
div#student-list-title-attend{
	width : 50%;
	background-color: rgb(255, 255, 255);
	float : right;
	border-top-right-radius : 30px;
	color: purple;
}

div#student-list-title-name{
	width : 50%;
	background-color: rgb(255, 255, 255);
	border-top-left-radius : 30px;
	color: purple;
/* 	font-weight: bolder; */
}
#table-line{
	width: 100%; 
	height: 5%; 
	float : left;
	padding-top : 1%;
	background-color: rgb(154, 125, 191);
	margin : 0;
}
#line-group{
	width: 100%; 
	height: 20%; 
	float : left;
	padding-top : 1%;
	background-color: rgb(255, 255, 0);
	margin : 0;
}
.student-list-line{
	width : 100%;
	height : 100%;
	margin : 0;
/* 	background-color: rgb(255, 255, 255); */
	background-color:#DEDEDE;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#DEDEDE));
	color: purple;
	font-weight: bold;
	border-radius : 10px;
	
}
.student-list-line div{
	height : 100%;
	text-align : center;
	line-height : 40px;
}
.student-list-line-attend{
	width : 50%;
	background-color: rgb(255, 255, 255);
	float:right;
	color: purple;
/* 	font-weight: bold; */
}
div[class~=student-list-line-name]{
	width : 50%;
	float:right;
	color: purple;
	font-weight: bold;
}
.ui-dialog-contain{
	position : absolute;
	width: 200px;
	margin : 0;
}
.lecture-list-title{
	width : 100%;
	height : 100%;
	margin: 0;
}
.lecture-list-title div{
	height : 100%;
	text-align : center;
	line-height : 40px;
}
#lecture-list-titleName{
	width : 30%;
	background-color: rgb(255, 255, 255);
	float: left;
	border-top-left-radius : 30px;
	color: purple;
	font-weight: bold;
}

#lecture-list-titleAttend{
	width : 40%;
	background-color: rgb(255, 255, 255);
	float: left;
	border-top-right-radius : 30px;
	color: purple;
	font-weight: bold;
}
#lecture-list-titleDate{
	width : 30%;
	background-color: rgb(255, 255, 255);
	float: left;
	color: purple;
	font-weight: bold;
}
.lecture-list-line{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.lecture-list-line div{
	height: 100%;
	text-align: center;
	line-height: 40px;
}
.lecture-list-name{
	width: 30%;
	background-color: rgb(255, 255, 255);
	float : left;
	color: purple;
}
.lecture-list-date{
	width: 30%;
	background-color: rgb(255, 255, 255);
	float : left;
	color: purple;
}
.lecture-list-attend{
	width : 40%;
	height : 40px;
	background-color: rgb(255, 255, 255);
	float: left;
	color: purple;
}
/*-------- taphold css---------*/
#deletePopup{
	width: 250px;
	height: 100px;
	padding: 10px;
}
#deletePopup p{
	text-align: center;
}
#deletePopup-button-form div{
	width: 100px;
	float: left;
	margin: 10px;
}