@CHARSET "EUC-KR";
#t_join_page{
	width : 100%;
	height: 100%;
}

#t_join{
	margin: 15% 20% 15% 20%;
}

#t_join input{
	margin : 5% 0 5% 0;
	font-size: 12px;
}

#duplicate_btn{
	margin : 5% 0 5% 0;
	width: 80px;
}
