@CHARSET "EUC-KR";
/* .accordion */
div[class^=accordion]{
	width: 100%;
	height: 100%;
	float: left;
}

/*MAIN_INFO*/
.t_accordion_title,
.unregistered_title{
/* 	background-image : url("../img/pressform.png"); */
	width: 100%;
	height: 100%;
	cursor: pointer;
	list-style: none;
	font-size: 12px;
	background: -webkit-gradient(linear, left top, left bottom, 
			from(#ffffff),to(#dddddd));
	border: 1px solid #cccccc;
	margin-top: 15px;
}

.t_accordion_title ul,
.unregistered_title ul{
	list-style:none;
}

.t_accordion_title span,
.unregistered_title span{
	font-weight : bold;
	margin-right : 5px;
	font-size : 15px;
}

.t_accordion_title > a,
.unregistered_title > a{
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.t_icon{
	margin: 15px 10% 0 auto;
	float: right;
}


/*SUB_INFO*/
.t_accordion_sub {
/* 	background-image : url("../img/notpressform.png"); */
	display: none;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
}

.t_accordion_sub > ul{
	list-style: none;
	font-size: 12px;
	padding : 15px 25px 10px 25px;
	margin-top: 0px;
}

/*DETAIL_INFO */
.content {
	margin : 5px 0 5px 0;
}
.content > h4{
	margin: 1px 15px 1px 0;
}

.content > p{
	margin: 1px 15px 1px 0;
}

.startDate{
	font-size:11px;
}

.endDate{
	font-size:11px;
	float: right;
}

li[class^=progressbar]{
	width: 100%;
	height: 10px;
}

.percent{
	font-size:13px;
	margin : 5px 15px 5px 0;
	text-align: center;
}

.t_accordion_sub > ul .ui-select{
	width: 100%;
	margin : 0 20% 0 0;
}

.t_accordion_title ul> .t_accordion_sub {
	display: none;
}

.t_accordion_title ul:target > .t_accordion_sub {
	display: block; 
}