@CHARSET "EUC-KR";

.t_tagging_page{
	width : 100%;
	height : 100%;
	float: left;
}

.t_tagging_page > img{
	margin : 25% 0 0 38%;
}

.t_tagging_page input{
	margin : 3% 25% 0 25%;
	width: 50%;	
}

.t_tagging_page div{
	margin : 3% 30% 0 30%;
	width:40%;
	color : #d75b5b;
}

.list_main{
	height: 100%;
	width: 100%;
	background-image: url("../img/background/list_background.png");
	background-repeat: repeat;
}

